body {
    background-image: url(./images/evie-s-kBzQNk9AgOg-unsplash.jpg); 
    padding-top: 80px;
    background-repeat: none;
    background-size: cover;
    background-position: center;
} 


h1 {
    color: #313740;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #313740;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #d4ec4ce1;
    font-size: 40px;
    font-family:monospace;
}

#finalScore {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p {
    font-family: monospace;
}

#questionTitle {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#answerCheck {
    font-style: italic;
    color: #4D5159;
}

#hero {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
}

#heroQuiz {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
}

#heroSum {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
}

#scoreDiv {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #d4ec4c91;
    font-size: 20px;
}
